@font-face {
    font-family: my-icons;
    src: url("my-icons.eot");src: url("my-icons.eot?368dff6a#iefix") format("embedded-opentype"),
             url("my-icons.woff2?368dff6a") format("woff2"),
             url("my-icons.woff?368dff6a") format("woff"),
             url("my-icons.ttf?368dff6a") format("truetype"),
             url("my-icons.svg?368dff6a#my-icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon"], [class*=" icon"] {
    font-family: 'my-icons' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
}


.icon-icon-android-colours::before {
    content: "\ea01";
}

.icon-icon-basicnetwork::before {
    content: "\ea02";
}

.icon-icon-containerimagelibrary::before {
    content: "\ea03";
}

.icon-icon-fedora::before {
    content: "\ea04";
}

.icon-icon-home-Workorder::before {
    content: "\ea05";
}

.icon-icon-macos::before {
    content: "\ea06";
}

.icon-icon-netware-colours::before {
    content: "\ea07";
}

.icon-icon-redhat::before {
    content: "\ea08";
}

.icon-icon-speed::before {
    content: "\ea09";
}

.icon-icon-wraning-colours::before {
    content: "\ea0a";
}

